body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input[type="text"], select, textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"], input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    input[type="submit"]:hover, input[type="button"]:hover {
        background-color: #45a049;
    }

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

.error {
    color: red;
}

#resultsTable th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f0f0f0; /* così le intestazioni non diventano trasparenti */
}