<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERAKI API - Operazioni su SSID</title>
    <!-- Utilizza il percorso static per importare il tuo file CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='MerakiFunciotn-Style.css') }}">
    <!-- Utilizza il percorso static per importare il tuo file JS -->
    <script src="{{ url_for('static', filename='Func_JS-Meraki-API-General.js') }}"></script>
    <script src="{{ url_for('static', filename='Func_JS-HTML-Form.js') }}"></script>
</head>
<body>
    <h1>API - OPERAZIONI SU SSID</h1>
    <form action="/api/API-SSID" method="POST">
        <!-- SELEZIONE ORGANIZZAZIONE -->
        <label for="orgID">Seleziona ID Organizzazione:</label><br>
        <select id="orgID" name="orgID" required onchange="fetchGeneric(`/api/get_networks/${this.value}?type=${document.getElementById('networkType').value}`, 'ntwID','id','name')">
            <option value="">Seleziona un'organizzazione</option>
            {% for org in organizations %}
            <option value="{{ org[0] }}">{{ org[1] }} (id: {{ org[0] }})</option>
            {% endfor %}
        </select><br>

        <!-- NETWOROK TYPE -->
        {% include 'MenuNtwType.html' %}

        <!-- SELEZIONE NETWORK -->
        <label for="ntwID">Seleziona ID Network:</label><br>
        <select id="ntwID" name="ntwID" required onchange="fetchGeneric(`/api/get_ssid_settings/${this.value}`,'ssidSelect','number','name')">
            <option value="">Seleziona prima l'organizzazione</option>
        </select><br>

        <label for="ssidSelect">Seleziona SSID:</label><br>
        <select id="ssidSelect" name="ssidSelect" onchange="onElementChange('ntwID','ssidSelect','CurrentSettings','ModifyJson','/api/get_ssid_settings/')">
            <option value="">Seleziona prima una rete</option>
        </select><br>

        <!-- OUTPUT IN JSON DELLE IMPOSTAZIONI ATTUALI -->
        <div id="CurrentSettings">
            <h2>Impostazioni SSID:</h2>
            <pre id="CurrentSettingsJsonOutput"></pre>
        </div>

        <!-- JSON DOVE INSERIRE LE MODICHE DESIDERATE -->
        <label for="ModifyJson">JSON da inviare:</label><br>
        <textarea id="ModifyJson" name="ModifyJson" rows="10" cols="100" required></textarea><br>

        <input type="submit" value="Update Data - SSID">
        <input type="button" value="Scarica JSON" onclick="promptDownloadJSON(document.getElementsByTagName('pre')[0].innerHTML,'SSID-Settings.json')"> <!-- Pulsante per scaricare il JSON -->

    </form>
</body>
</html>