<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creazione SSID</title>
</head>
<body>
    <h1>Crea SSID</h1>
    <form action="/api/create_ssid" method="POST">
        <label for="orgID">ID Organizzazione:</label><br>
        <input type="text" id="orgID" name="orgID"><br>
        <label for="ntwID">ID Network:</label><br>
        <input type="text" id="ntwID" name="ntwID"><br>
        <input type="submit" value="Crea SSID">
    </form>
</body>
</html>