<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu API Meraki</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Main-Style.css') }}">
</head>
<body>
    <h1>Seleziona un'operazione</h1>
    <ul>
        <!-- <li><a href="/api/inventario_by_org">Inventario Porte Enable Down 1 Mese - By Organization</a></li> -->
        <!-- <li><a href="/api/inventario_by_ntw">Inventario Porte Enable Down 1 Mese - By Network</a></li> -->
        <!-- <li><a href="/api/update_ports_by_file_ntw">UpdatePorts By File & Network Name</a></li> -->
        <!-- <li><a href="/api/v2_template_update_ports_by_file_ntw">V2-Template-UpdatePorts By File & Network Name</a></li> -->
        <!-- <li><a href="/api/update_ports_by_file">UpdatePorts By File</a></li> -->
        <!-- <li><a href="/api/change_ip_by_file">Change IP By File</a></li> -->
        <li><a href="/api/API-SSID">MERAKI - API - SSID</a></li>
        <li><a href="/api/API-RadioProfile">MERAKI - API - RADIO PROFILE</a></li>
        <li><a href="/api/test">TEST</a></li>
    </ul>


</body>
</html>
