<!-- MenuNtwType.html -->
<label for="networkType">Seleziona Tipo di Rete:</label>
<br>
<select id="networkType" name="networkType" required onchange="onNetworkTypeChange()">
    <option value="">Seleziona il tipo di rete su cui vuoi effettuare la modifica</option>
    <option value="SINGLE">SINGOLA NETWORK</option>
    <option value="SNIPER">SNIPER</option>
    <option value="NEGOZIO">NEGOZIO</option>
    <option value="DEPOSITO">DEPOSITO</option>
    <option value="SRM">SRM-RM</option>
    <option value="FORNITORI">FORNITORI</option>
    <option value="HQ">HQ</option>
    <option value="TUTTE">TUTTE</option>
</select>
<br>